* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
HTML {
  font-size: 62.5%;
}
.Features {
  width: 100%;
  height: 210rem;
  /* background-color: #fafafa; */
  background-color: #f7f6f6;
}
.main-heading {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0rem;
  box-sizing: border-box;
}
.main-heading h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #212529;
}
.main-heading p {
  font-size: 1.7rem;
  font-weight: 700;
}

.Features-Main-section {
  height: 190rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Features-sub-section {
  height: 21rem;
  transition: 0.9s;
  width: 28%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.6rem;
  background-color: white;
}
.Features-sub-section img {
  height: 30%;
  width: 30%;
}
.Features-sub-section h2 {
  font-size: 3rem;
}
.Features-sub-heading {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  transition: 0.87s;
}
.Features-sub-heading h2 {
  font-size: 2.2rem;
  font-size: 700;
}
.Features-sub-section:hover {
  box-shadow: 0.2rem 6.7rem 7.3rem -6.3rem rgba(0, 0, 0, 0.75);
}
